# Fake data creator for the DB Project
This was copied from something I had done for an earlier assignment.

In [1]:
%pip install Faker

Requirement already satisfied: Faker in /usr/local/python/3.10.13/lib/python3.10/site-packages (24.4.0)
Requirement already satisfied: python-dateutil>=2.4 in /home/codespace/.local/lib/python3.10/site-packages (from Faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.4->Faker) (1.16.0)

## Overall Structure
This section sets up the output for creating insert SQL statement data.

In [140]:
"""
Created on: February 14, 2024

Author: Tuck Williamson

Assignment: 601 Misc\Library
=============
This module creates fake data for testing purposes.
"""
from faker import Faker
import typing
from jinja2 import Template as TP

# This makes results repeatable.
Faker.seed(601)
fake = Faker('en_US')

sqlQuote = "'"
sqteJoin = ", "

INS_TP = TP('''
{% set fields = "" if fields is none else '('+ ', '.join(fields) +')' %}
------------------------------
-- {{table}}
------------------------------
{% if genTransaction %}
BEGIN;            
{% endif %}
{% if genDelete is not false %}DELETE
	FROM {{table}}
	WHERE {{genDelete}} IS NOT NULL;
{% endif %}
INSERT INTO {{table}}{{fields}}
	VALUES {{ elements|join(',\n\t\t')}}
        ;

{% if genTransaction %}
COMMIT;
            
{% endif %}
------------------------------\n\n''')
def create_sql_insert(elements: typing.Iterable[typing.Iterable[str]], table: str,
                      fields: typing.Iterable[str] = None, genDelete: bool|str = False,
                      genTransaction: bool = True) -> str:
    """
    This creates a **SQL INSERT** statement given the elements and table name.
    Fields can also be specified as an array of strings in the order they
    were placed in the tuples in the elements list.

    :param elements: The elements to inject as values into the table. Any elements that
    :param table: The name of the table to insert into.
    :param fields: An optional list of fields names in the order that they were placed in the elements list items.
    :param genDelete: An optional boolean which determines if a delete statement is included before the insert statement.
        If genDelete is a string it is used as the attribute to test for not null.
        If genDelete is True then it uses the first field in fields as the test attribute.
    :return: A string containing the sql for the insert statement.

    """
    retVal = ''
    match genDelete:
        case str(delOnField):
            genDelete = delOnField
        case True:
            assert fields is not None
            genDelete = fields[0]

    elements = ["({row})".format(row = ', '.join([f"'{val}'" if not val.startswith('raw: ') else val[5:] for val in ele])) for ele in elements]
        
    return INS_TP.render(elements=elements, table=table, fields=fields, genDelete=genDelete, genTransaction=genTransaction)
    # return f'\n\n{retVal}{"BEGIN;" if genTransaction else ""}INSERT INTO {table}{"" if fields is None else " (" + ", ".join(fields) + ")"}\n\tVALUES' + ', \n\t\t'.join(
    #     [f"({sqteJoin.join(ele)})" for ele in
    #      [[sqlQuote + ele + sqlQuote if not ele.startswith('raw: ') else ele[5:] for ele in etuple] for etuple in
    #       elements]]) + f';\n{"COMMIT;" if genTransaction else ""}\n'

In [182]:
from collections import OrderedDict
import matplotlib
import matplotlib.pyplot
from numpy import array
import math

posList = [
    'Executive Chef',
    'Manager',
    'Sommelier',
    'Sous Chef',
    'Pastry Chef',
    'Roast Chef',
    'Captain',
    'Bartender',
    'Hosts',
    'Waiter',
    'Runner',
    'Back Waiter',
    'Barback',
    'Busboy',
    ]

# This is just giving weights to the positions based on how common they are.
# plen = len(posList)
# weights = array([float(idx-(plen/2.0)+0.1)/plen for idx in range(len(posList))])
# weights = array([(math.sin(math.pi*val)+1)**3 for val in weights])
# # weights = array([float(idx-(plen/2.0))/plen for idx in range(len(posList))])
# matplotlib.pyplot.plot(posList,weights).show()
weights = array([0,0,0,5,5,10,10,5,10,25,5,5,5,5])/100.0
weights /= sum(weights)
# display(weights)
numEmployees = 90
def getEmp(position = None)->tuple[str, str, str, str, str, str]:
    if position is None:
        position = fake.random_element(OrderedDict([(posList[idx], weights[idx]) for idx in range(len(posList))]))
    return (fake.numerify('#########'), 
            fake.first_name(), 
            fake.last_name(), 
            str(fake.past_date('-5y')), 
            fake.numerify('##########'), 
            position) 
emps = [getEmp() for i in range(numEmployees)]
# An exec chef
emps.append(getEmp(posList[0]))
# num managers
[emps.append(getEmp(posList[1])) for i in range(4)]
# num sommlier
[emps.append(getEmp(posList[2])) for i in range(3)]

# print(f'{"-"*30}\n-- Employees')
print(create_sql_insert(emps, 'thebestdbever.employee', genDelete='SSN'))
# print(f'{"-"*30}\n')

positionIndex = -1
emplIDs = [emp[0] for emp in emps]
empPosMap = {}
for pos in posList:
    #Build a map of positions -> []
    empPosMap[pos] = []

for emp in emps:
    #Build a map of positions -> [employee SSNs]
    empPosMap[emp[positionIndex]].append(emp[0])

------------------------------
-- thebestdbever.employee
------------------------------

BEGIN;

DELETE
	FROM thebestdbever.employee
	WHERE SSN IS NOT NULL;

INSERT INTO thebestdbever.employee
	VALUES ('538578111', 'Sarah', 'Green', '2023-01-18', '4458312189', 'Busboy'),
		('398049492', 'Casey', 'Smith', '2022-01-06', '5543502978', 'Waiter'),
		('477983760', 'Marcus', 'Jensen', '2020-05-02', '1193379627', 'Hosts'),
		('959475047', 'Kimberly', 'Manning', '2023-08-01', '9617567462', 'Busboy'),
		('975806394', 'Mitchell', 'Gallegos', '2024-03-26', '6680754056', 'Hosts'),
		('030278545', 'Taylor', 'Sanchez', '2023-07-19', '0116168401', 'Waiter'),
		('197281036', 'Katie', 'Newton', '2023-03-26', '2879135858', 'Hosts'),
		('550769928', 'Erik', 'Hicks', '2020-10-13', '9136501797', 'Bartender'),
		('086813571', 'Katie', 'Francis', '2020-05-17', '1269160962', 'Waiter'),
		('764661834', 'Kenneth', 'Smith', '2020-04-13', '0466953829', 'Waiter'),
		('000957839', 'Ryan', 'Blake', '2019-11-13', '9406389574', 'Pastry Chef'),
		('163031074', 'Robert', 'Williamson', '2023-11-28', '4965488995', 'Captain'),
		('101509746', 'Danielle', 'Baldwin', '2019-05-31', '8456848648', 'Busboy'),
		('678491178', 'Gwendolyn', 'Smith', '2020-01-12', '7815590953', 'Busboy'),
		('426599279', 'Tracie', 'Richards', '2021-11-29', '3592750874', 'Roast Chef'),
		('047106497', 'Phillip', 'Ponce', '2022-10-20', '4875262289', 'Waiter'),
		('690539364', 'Jeffrey', 'Clark', '2019-10-25', '7398054356', 'Bartender'),
		('857866246', 'Devin', 'Reed', '2022-06-02', '6976272267', 'Hosts'),
		('829336877', 'Jennifer', 'Macdonald', '2021-08-12', '3341029279', 'Captain'),
		('107057619', 'Edward', 'Avila', '2024-02-03', '5510197542', 'Hosts'),
		('310925952', 'Dana', 'Hall', '2021-11-23', '5272103045', 'Roast Chef'),
		('864461439', 'Ian', 'Jackson', '2021-03-03', '6366546472', 'Busboy'),
		('335685920', 'Kristen', 'Schneider', '2019-04-07', '4682081767', 'Captain'),
		('667106860', 'Tammie', 'Gibbs', '2020-05-02', '2393134704', 'Barback'),
		('661501191', 'Mary', 'Parker', '2023-10-14', '2896034854', 'Pastry Chef'),
		('243741337', 'Crystal', 'Bates', '2020-09-24', '8785279200', 'Waiter'),
		('493792285', 'Kelsey', 'Marquez', '2020-02-27', '9808570156', 'Waiter'),
		('779038357', 'Andrew', 'Peters', '2021-12-17', '8755703488', 'Captain'),
		('365661926', 'Monique', 'Miller', '2020-01-16', '6983965613', 'Bartender'),
		('574224455', 'Allison', 'Caldwell', '2020-04-30', '0965466610', 'Runner'),
		('603884639', 'Laura', 'Alvarez', '2019-11-19', '2859217823', 'Busboy'),
		('516295336', 'Dale', 'Schneider', '2023-10-31', '4406431156', 'Roast Chef'),
		('693361075', 'Bruce', 'Jones', '2022-04-20', '0047330720', 'Hosts'),
		('762399237', 'Erin', 'Hodges', '2023-03-14', '7722146099', 'Waiter'),
		('899056673', 'Eric', 'Richards', '2020-11-09', '7600519735', 'Waiter'),
		('797146335', 'Karl', 'Collins', '2020-03-13', '8198251925', 'Busboy'),
		('753451067', 'Jerry', 'Ellis', '2021-03-21', '7230328258', 'Hosts'),
		('466496969', 'Natasha', 'Robinson', '2022-08-15', '2252682486', 'Waiter'),
		('923604283', 'Maria', 'Huffman', '2023-06-02', '9697216418', 'Captain'),
		('719552471', 'William', 'Fields', '2021-10-06', '0370081038', 'Hosts'),
		('946166493', 'Ann', 'Chen', '2020-03-05', '6369348109', 'Pastry Chef'),
		('020390835', 'Justin', 'Taylor', '2023-01-21', '1280745383', 'Waiter'),
		('780578897', 'Aaron', 'Mcmillan', '2023-02-01', '4540541120', 'Waiter'),
		('634874902', 'Sylvia', 'Johnson', '2021-12-17', '3164155455', 'Waiter'),
		('292369692', 'Leslie', 'Elliott', '2022-03-01', '8882338726', 'Hosts'),
		('241173188', 'Melissa', 'Poole', '2020-04-21', '4707792993', 'Busboy'),
		('958387915', 'Linda', 'Abbott', '2020-07-04', '3729387223', 'Waiter'),
		('671676897', 'Daniel', 'Joseph', '2023-09-06', '9162117690', 'Waiter'),
		('915544452', 'Lindsay', 'Oliver', '2023-09-03', '9454888192', 'Waiter'),
		('897030645', 'Susan', 'Arnold', '2021-11-02', '4175310901', 'Roast Chef'),
		('673328776', 'Eric', 'Montgomery', '2019-10-22', '3093939196', 'Runner'),
		('830661617', 'Michael', 'Huerta', '2019-09-05', '7681599747', 'Waiter'),
		('314089880', 'Joyce', 'Hobbs', '2023-10-08', '6599592166', 'Bartender'),
		('367172198', 'Philip', 'Obrien', '2020-10-28', '4807378761', 'Waiter'),
		('625715792', 'Sandra', 'Krueger', '2020-03-13', '8809275935', 'Waiter'),
		('847791599', 'Stacy', 'Lee', '2023-06-30', '1240657200', 'Roast Chef'),
		('694170809', 'Elizabeth', 'Brown', '2022-11-03', '4415830602', 'Waiter'),
		('038756607', 'Kristina', 'Williams', '2023-04-24', '4471728134', 'Waiter'),
		('573300002', 'Andrew', 'Jordan', '2023-01-03', '1132596703', 'Barback'),
		('852768063', 'John', 'Farley', '2023-04-25', '5230922542', 'Sous Chef'),
		('737172266', 'Stephanie', 'Mckay', '2024-01-10', '4384195319', 'Bartender'),
		('546170244', 'Anthony', 'Combs', '2019-08-28', '1911660952', 'Waiter'),
		('189270701', 'Wanda', 'Jones', '2021-08-04', '1019340009', 'Bartender'),
		('734467274', 'Stephanie', 'Scott', '2023-04-06', '5072165188', 'Roast Chef'),
		('140503013', 'Rachel', 'Parker', '2021-04-12', '3667317200', 'Back Waiter'),
		('896718558', 'Brandon', 'Reeves', '2022-05-22', '8160026639', 'Captain'),
		('889663120', 'Robert', 'Boyle', '2022-12-12', '6366812553', 'Sous Chef'),
		('541776713', 'Cathy', 'Campbell', '2023-02-20', '3812953367', 'Captain'),
		('430290101', 'Mark', 'Wise', '2021-05-04', '7877868651', 'Waiter'),
		('716051893', 'James', 'Lindsey', '2022-02-17', '7033397170', 'Captain'),
		('920721812', 'Veronica', 'Palmer', '2021-10-12', '4437090301', 'Sous Chef'),
		('982937827', 'Katherine', 'Norton', '2020-09-08', '8645678902', 'Back Waiter'),
		('986341022', 'Andrew', 'Lee', '2023-10-17', '0937628761', 'Barback'),
		('351060262', 'Steven', 'Chen', '2023-12-09', '4060002494', 'Hosts'),
		('871778585', 'Michael', 'Martinez', '2020-09-27', '6270643250', 'Roast Chef'),
		('495265793', 'Christopher', 'Dominguez', '2019-12-20', '0863667098', 'Captain'),
		('142230207', 'Angela', 'Herrera', '2023-12-03', '2210623048', 'Captain'),
		('895219321', 'Clifford', 'Martinez', '2022-04-23', '4866709959', 'Roast Chef'),
		('879371154', 'Keith', 'King', '2020-09-17', '8878075434', 'Waiter'),
		('240565931', 'Megan', 'Anderson', '2020-08-24', '7749177004', 'Waiter'),
		('558329350', 'Kendra', 'Lopez', '2023-10-24', '9497536397', 'Roast Chef'),
		('153848194', 'Janet', 'Cooley', '2023-11-08', '6755833377', 'Roast Chef'),
		('176612259', 'Robert', 'Brown', '2021-03-14', '9115476355', 'Captain'),
		('088908934', 'Edwin', 'Mendoza', '2022-08-25', '7805803597', 'Busboy'),
		('076989540', 'Jeff', 'Brown', '2023-09-16', '4659797366', 'Waiter'),
		('511410913', 'Tara', 'Thompson', '2020-05-20', '4757825641', 'Waiter'),
		('578436809', 'Robert', 'Wilson', '2023-08-28', '7941144547', 'Bartender'),
		('505667920', 'Richard', 'Williams', '2021-03-16', '8639292994', 'Roast Chef'),
		('528625759', 'Edward', 'Church', '2020-12-31', '6354769750', 'Roast Chef'),
		('046985780', 'Charles', 'Wilson', '2020-12-31', '7354128388', 'Roast Chef'),
		('532753497', 'Patrick', 'Newton', '2019-12-23', '1919979697', 'Executive Chef'),
		('688388489', 'George', 'Yu', '2021-10-23', '5037319381', 'Manager'),
		('212884559', 'Jeffery', 'Meyer', '2022-03-23', '4940242597', 'Manager'),
		('845993205', 'Andrew', 'Graves', '2020-07-17', '4201530006', 'Manager'),
		('045312244', 'Katherine', 'Henderson', '2023-07-25', '1816351171', 'Manager'),
		('748438907', 'Shawn', 'Park', '2019-06-10', '7944897595', 'Sommelier'),
		('208053935', 'Lisa', 'Lee', '2020-09-13', '9394251733', 'Sommelier'),
		('051407732', 'Amber', 'Moon', '2019-05-08', '7361004618', 'Sommelier')
        ;


COMMIT;


------------------------------

In [183]:
import datetime as dt
today = dt.date.today()
dteRange = dt.timedelta(weeks=6)
start = today - dteRange
end = today +  dteRange

def getShift(date, earlyShift:bool = True):
    """This creates value arrays for inserts of Shifts
    """
    return (str(date), '9:30 am' if earlyShift else '5:30 pm', '9h')

days = [start+dt.timedelta(days=i) for i in range((end - start).days)]
earlyShifts = [getShift(day) for day in days if day.weekday() != 0]
lateShifts = [getShift(day, earlyShift=False) for day in days if day.weekday() != 0]

shifts= earlyShifts + lateShifts
print(create_sql_insert(shifts, 'thebestdbever.shift', ['Date', 'StartTime', 'Duration'], True))

------------------------------
-- thebestdbever.shift
------------------------------

BEGIN;

DELETE
	FROM thebestdbever.shift
	WHERE Date IS NOT NULL;

INSERT INTO thebestdbever.shift(Date, StartTime, Duration)
	VALUES ('2024-02-21', '9:30 am', '9h'),
		('2024-02-22', '9:30 am', '9h'),
		('2024-02-23', '9:30 am', '9h'),
		('2024-02-24', '9:30 am', '9h'),
		('2024-02-25', '9:30 am', '9h'),
		('2024-02-27', '9:30 am', '9h'),
		('2024-02-28', '9:30 am', '9h'),
		('2024-02-29', '9:30 am', '9h'),
		('2024-03-01', '9:30 am', '9h'),
		('2024-03-02', '9:30 am', '9h'),
		('2024-03-03', '9:30 am', '9h'),
		('2024-03-05', '9:30 am', '9h'),
		('2024-03-06', '9:30 am', '9h'),
		('2024-03-07', '9:30 am', '9h'),
		('2024-03-08', '9:30 am', '9h'),
		('2024-03-09', '9:30 am', '9h'),
		('2024-03-10', '9:30 am', '9h'),
		('2024-03-12', '9:30 am', '9h'),
		('2024-03-13', '9:30 am', '9h'),
		('2024-03-14', '9:30 am', '9h'),
		('2024-03-15', '9:30 am', '9h'),
		('2024-03-16', '9:30 am', '9h'),
		('2024-03-17', '9:30 am', '9h'),
		('2024-03-19', '9:30 am', '9h'),
		('2024-03-20', '9:30 am', '9h'),
		('2024-03-21', '9:30 am', '9h'),
		('2024-03-22', '9:30 am', '9h'),
		('2024-03-23', '9:30 am', '9h'),
		('2024-03-24', '9:30 am', '9h'),
		('2024-03-26', '9:30 am', '9h'),
		('2024-03-27', '9:30 am', '9h'),
		('2024-03-28', '9:30 am', '9h'),
		('2024-03-29', '9:30 am', '9h'),
		('2024-03-30', '9:30 am', '9h'),
		('2024-03-31', '9:30 am', '9h'),
		('2024-04-02', '9:30 am', '9h'),
		('2024-04-03', '9:30 am', '9h'),
		('2024-04-04', '9:30 am', '9h'),
		('2024-04-05', '9:30 am', '9h'),
		('2024-04-06', '9:30 am', '9h'),
		('2024-04-07', '9:30 am', '9h'),
		('2024-04-09', '9:30 am', '9h'),
		('2024-04-10', '9:30 am', '9h'),
		('2024-04-11', '9:30 am', '9h'),
		('2024-04-12', '9:30 am', '9h'),
		('2024-04-13', '9:30 am', '9h'),
		('2024-04-14', '9:30 am', '9h'),
		('2024-04-16', '9:30 am', '9h'),
		('2024-04-17', '9:30 am', '9h'),
		('2024-04-18', '9:30 am', '9h'),
		('2024-04-19', '9:30 am', '9h'),
		('2024-04-20', '9:30 am', '9h'),
		('2024-04-21', '9:30 am', '9h'),
		('2024-04-23', '9:30 am', '9h'),
		('2024-04-24', '9:30 am', '9h'),
		('2024-04-25', '9:30 am', '9h'),
		('2024-04-26', '9:30 am', '9h'),
		('2024-04-27', '9:30 am', '9h'),
		('2024-04-28', '9:30 am', '9h'),
		('2024-04-30', '9:30 am', '9h'),
		('2024-05-01', '9:30 am', '9h'),
		('2024-05-02', '9:30 am', '9h'),
		('2024-05-03', '9:30 am', '9h'),
		('2024-05-04', '9:30 am', '9h'),
		('2024-05-05', '9:30 am', '9h'),
		('2024-05-07', '9:30 am', '9h'),
		('2024-05-08', '9:30 am', '9h'),
		('2024-05-09', '9:30 am', '9h'),
		('2024-05-10', '9:30 am', '9h'),
		('2024-05-11', '9:30 am', '9h'),
		('2024-05-12', '9:30 am', '9h'),
		('2024-05-14', '9:30 am', '9h'),
		('2024-02-21', '5:30 pm', '9h'),
		('2024-02-22', '5:30 pm', '9h'),
		('2024-02-23', '5:30 pm', '9h'),
		('2024-02-24', '5:30 pm', '9h'),
		('2024-02-25', '5:30 pm', '9h'),
		('2024-02-27', '5:30 pm', '9h'),
		('2024-02-28', '5:30 pm', '9h'),
		('2024-02-29', '5:30 pm', '9h'),
		('2024-03-01', '5:30 pm', '9h'),
		('2024-03-02', '5:30 pm', '9h'),
		('2024-03-03', '5:30 pm', '9h'),
		('2024-03-05', '5:30 pm', '9h'),
		('2024-03-06', '5:30 pm', '9h'),
		('2024-03-07', '5:30 pm', '9h'),
		('2024-03-08', '5:30 pm', '9h'),
		('2024-03-09', '5:30 pm', '9h'),
		('2024-03-10', '5:30 pm', '9h'),
		('2024-03-12', '5:30 pm', '9h'),
		('2024-03-13', '5:30 pm', '9h'),
		('2024-03-14', '5:30 pm', '9h'),
		('2024-03-15', '5:30 pm', '9h'),
		('2024-03-16', '5:30 pm', '9h'),
		('2024-03-17', '5:30 pm', '9h'),
		('2024-03-19', '5:30 pm', '9h'),
		('2024-03-20', '5:30 pm', '9h'),
		('2024-03-21', '5:30 pm', '9h'),
		('2024-03-22', '5:30 pm', '9h'),
		('2024-03-23', '5:30 pm', '9h'),
		('2024-03-24', '5:30 pm', '9h'),
		('2024-03-26', '5:30 pm', '9h'),
		('2024-03-27', '5:30 pm', '9h'),
		('2024-03-28', '5:30 pm', '9h'),
		('2024-03-29', '5:30 pm', '9h'),
		('2024-03-30', '5:30 pm', '9h'),
		('2024-03-31', '5:30 pm', '9h'),
		('2024-04-02', '5:30 pm', '9h'),
		('2024-04-03', '5:30 pm', '9h'),
		('2024-04-04', '5:30 pm', '9h'),
		('2024-04-05', '5:30 pm', '9h'),
		('2024-04-06', '5:30 pm', '9h'),
		('2024-04-07', '5:30 pm', '9h'),
		('2024-04-09', '5:30 pm', '9h'),
		('2024-04-10', '5:30 pm', '9h'),
		('2024-04-11', '5:30 pm', '9h'),
		('2024-04-12', '5:30 pm', '9h'),
		('2024-04-13', '5:30 pm', '9h'),
		('2024-04-14', '5:30 pm', '9h'),
		('2024-04-16', '5:30 pm', '9h'),
		('2024-04-17', '5:30 pm', '9h'),
		('2024-04-18', '5:30 pm', '9h'),
		('2024-04-19', '5:30 pm', '9h'),
		('2024-04-20', '5:30 pm', '9h'),
		('2024-04-21', '5:30 pm', '9h'),
		('2024-04-23', '5:30 pm', '9h'),
		('2024-04-24', '5:30 pm', '9h'),
		('2024-04-25', '5:30 pm', '9h'),
		('2024-04-26', '5:30 pm', '9h'),
		('2024-04-27', '5:30 pm', '9h'),
		('2024-04-28', '5:30 pm', '9h'),
		('2024-04-30', '5:30 pm', '9h'),
		('2024-05-01', '5:30 pm', '9h'),
		('2024-05-02', '5:30 pm', '9h'),
		('2024-05-03', '5:30 pm', '9h'),
		('2024-05-04', '5:30 pm', '9h'),
		('2024-05-05', '5:30 pm', '9h'),
		('2024-05-07', '5:30 pm', '9h'),
		('2024-05-08', '5:30 pm', '9h'),
		('2024-05-09', '5:30 pm', '9h'),
		('2024-05-10', '5:30 pm', '9h'),
		('2024-05-11', '5:30 pm', '9h'),
		('2024-05-12', '5:30 pm', '9h'),
		('2024-05-14', '5:30 pm', '9h')
        ;


COMMIT;


------------------------------

In [184]:


def make_select_for_key(key: str, table: str, column: str = None, value: str = None, where_clause: str = None) -> str:
    """
    This creates a **SQL SELECT** statement from the given parameters.
    These are generally used inside the SQL INSERT statements created from create_sql_insert.
    :param key: The name of the column to select, or a **string** with the name of multiple columns to
        select separated by commas.
    :param table: The name of the table to select from.
    :param column: The name of the column to check against value.
    :param value: The value to check against. See _whereClause_.
    :param where_clause: If whereClause is specified and value and column are None then the whereClause will
        be inserted into the statement as is. This is useful when you need to check multiple values.
    :return: A string with the select statement.
    """
    if value is None and where_clause is None:
        raise Exception("Cannot have value and whereClause both None. Either specify value or whereClause.")
    if column is None and value is not None:
        column = key

    if column is None and value is None:
        return f"raw: (SELECT {key} FROM {table} WHERE {where_clause})"
    else:
        return f"raw: (SELECT {key} FROM {table} WHERE {column} = '{value}')"

# Mgr, host, chef, bartender, waiter
earlyReq = [
    ['Manager'],
    ['Hosts'],
    ['Executive Chef','Sous Chef','Pastry Chef', 'Roast Chef'],
    ['Bartender'],
    ['Captain','Waiter','Sommelier'],]
    # 'Runner',
    # 'Back Waiter',
    # 'Barback',
    # 'Busboy',
    # ]
lateReq = earlyReq.copy()
lateReq.append(('Sommelier'))

def flatten(*args):
    retVal = []
    [retVal.extend(lst) for lst in args]
    return retVal

# display(empPosMap)
earlyReqToSSN = [flatten(*[[(pos, ele) for ele in empPosMap[pos]] for pos in reqPos]) for reqPos in earlyReq]
worksOnShift = flatten(*[[(make_select_for_key("shiftid", 'shift', where_clause=f"Date='{shift[0]}' AND StartTime='{shift[1]}'"), (worker:=fake.random_element(ssns))[1], worker[0]) for ssns in earlyReqToSSN] for shift in earlyShifts])
# display(worksOnShift)
print(create_sql_insert(worksOnShift, 'works_on_shift', genDelete='shiftid'))

------------------------------
-- works_on_shift
------------------------------

BEGIN;

DELETE
	FROM works_on_shift
	WHERE shiftid IS NOT NULL;

INSERT INTO works_on_shift
	VALUES ((SELECT shiftid FROM shift WHERE Date='2024-02-21' AND StartTime='9:30 am'), '212884559', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-21' AND StartTime='9:30 am'), '351060262', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-21' AND StartTime='9:30 am'), '426599279', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-21' AND StartTime='9:30 am'), '314089880', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-21' AND StartTime='9:30 am'), '038756607', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-22' AND StartTime='9:30 am'), '045312244', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-22' AND StartTime='9:30 am'), '975806394', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-22' AND StartTime='9:30 am'), '000957839', 'Pastry Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-22' AND StartTime='9:30 am'), '550769928', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-22' AND StartTime='9:30 am'), '915544452', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-23' AND StartTime='9:30 am'), '045312244', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-23' AND StartTime='9:30 am'), '197281036', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-23' AND StartTime='9:30 am'), '871778585', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-23' AND StartTime='9:30 am'), '365661926', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-23' AND StartTime='9:30 am'), '208053935', 'Sommelier'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-24' AND StartTime='9:30 am'), '045312244', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-24' AND StartTime='9:30 am'), '477983760', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-24' AND StartTime='9:30 am'), '310925952', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-24' AND StartTime='9:30 am'), '314089880', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-24' AND StartTime='9:30 am'), '047106497', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-25' AND StartTime='9:30 am'), '212884559', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-25' AND StartTime='9:30 am'), '197281036', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-25' AND StartTime='9:30 am'), '847791599', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-25' AND StartTime='9:30 am'), '189270701', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-25' AND StartTime='9:30 am'), '830661617', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-27' AND StartTime='9:30 am'), '845993205', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-27' AND StartTime='9:30 am'), '197281036', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-27' AND StartTime='9:30 am'), '532753497', 'Executive Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-27' AND StartTime='9:30 am'), '690539364', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-27' AND StartTime='9:30 am'), '896718558', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-28' AND StartTime='9:30 am'), '688388489', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-28' AND StartTime='9:30 am'), '753451067', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-28' AND StartTime='9:30 am'), '897030645', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-28' AND StartTime='9:30 am'), '365661926', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-28' AND StartTime='9:30 am'), '243741337', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-29' AND StartTime='9:30 am'), '212884559', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-29' AND StartTime='9:30 am'), '477983760', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-29' AND StartTime='9:30 am'), '920721812', 'Sous Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-29' AND StartTime='9:30 am'), '550769928', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-02-29' AND StartTime='9:30 am'), '243741337', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-01' AND StartTime='9:30 am'), '045312244', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-01' AND StartTime='9:30 am'), '351060262', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-01' AND StartTime='9:30 am'), '528625759', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-01' AND StartTime='9:30 am'), '550769928', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-01' AND StartTime='9:30 am'), '176612259', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-02' AND StartTime='9:30 am'), '688388489', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-02' AND StartTime='9:30 am'), '107057619', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-02' AND StartTime='9:30 am'), '847791599', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-02' AND StartTime='9:30 am'), '189270701', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-02' AND StartTime='9:30 am'), '511410913', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-03' AND StartTime='9:30 am'), '688388489', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-03' AND StartTime='9:30 am'), '753451067', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-03' AND StartTime='9:30 am'), '528625759', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-03' AND StartTime='9:30 am'), '737172266', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-03' AND StartTime='9:30 am'), '541776713', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-05' AND StartTime='9:30 am'), '688388489', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-05' AND StartTime='9:30 am'), '197281036', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-05' AND StartTime='9:30 am'), '852768063', 'Sous Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-05' AND StartTime='9:30 am'), '365661926', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-05' AND StartTime='9:30 am'), '923604283', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-06' AND StartTime='9:30 am'), '688388489', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-06' AND StartTime='9:30 am'), '693361075', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-06' AND StartTime='9:30 am'), '046985780', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-06' AND StartTime='9:30 am'), '365661926', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-06' AND StartTime='9:30 am'), '038756607', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-07' AND StartTime='9:30 am'), '045312244', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-07' AND StartTime='9:30 am'), '107057619', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-07' AND StartTime='9:30 am'), '897030645', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-07' AND StartTime='9:30 am'), '550769928', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-07' AND StartTime='9:30 am'), '398049492', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-08' AND StartTime='9:30 am'), '212884559', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-08' AND StartTime='9:30 am'), '857866246', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-08' AND StartTime='9:30 am'), '310925952', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-08' AND StartTime='9:30 am'), '578436809', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-08' AND StartTime='9:30 am'), '923604283', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-09' AND StartTime='9:30 am'), '845993205', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-09' AND StartTime='9:30 am'), '975806394', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-09' AND StartTime='9:30 am'), '897030645', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-09' AND StartTime='9:30 am'), '690539364', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-09' AND StartTime='9:30 am'), '020390835', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-10' AND StartTime='9:30 am'), '045312244', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-10' AND StartTime='9:30 am'), '107057619', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-10' AND StartTime='9:30 am'), '847791599', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-10' AND StartTime='9:30 am'), '550769928', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-10' AND StartTime='9:30 am'), '398049492', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-12' AND StartTime='9:30 am'), '688388489', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-12' AND StartTime='9:30 am'), '693361075', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-12' AND StartTime='9:30 am'), '046985780', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-12' AND StartTime='9:30 am'), '550769928', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-12' AND StartTime='9:30 am'), '899056673', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-13' AND StartTime='9:30 am'), '212884559', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-13' AND StartTime='9:30 am'), '351060262', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-13' AND StartTime='9:30 am'), '852768063', 'Sous Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-13' AND StartTime='9:30 am'), '365661926', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-13' AND StartTime='9:30 am'), '335685920', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-14' AND StartTime='9:30 am'), '212884559', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-14' AND StartTime='9:30 am'), '197281036', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-14' AND StartTime='9:30 am'), '153848194', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-14' AND StartTime='9:30 am'), '550769928', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-14' AND StartTime='9:30 am'), '335685920', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-15' AND StartTime='9:30 am'), '045312244', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-15' AND StartTime='9:30 am'), '719552471', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-15' AND StartTime='9:30 am'), '661501191', 'Pastry Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-15' AND StartTime='9:30 am'), '690539364', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-15' AND StartTime='9:30 am'), '176612259', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-16' AND StartTime='9:30 am'), '845993205', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-16' AND StartTime='9:30 am'), '975806394', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-16' AND StartTime='9:30 am'), '426599279', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-16' AND StartTime='9:30 am'), '690539364', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-16' AND StartTime='9:30 am'), '430290101', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-17' AND StartTime='9:30 am'), '688388489', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-17' AND StartTime='9:30 am'), '693361075', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-17' AND StartTime='9:30 am'), '946166493', 'Pastry Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-17' AND StartTime='9:30 am'), '737172266', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-17' AND StartTime='9:30 am'), '038756607', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-19' AND StartTime='9:30 am'), '212884559', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-19' AND StartTime='9:30 am'), '719552471', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-19' AND StartTime='9:30 am'), '847791599', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-19' AND StartTime='9:30 am'), '690539364', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-19' AND StartTime='9:30 am'), '020390835', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-20' AND StartTime='9:30 am'), '688388489', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-20' AND StartTime='9:30 am'), '693361075', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-20' AND StartTime='9:30 am'), '734467274', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-20' AND StartTime='9:30 am'), '550769928', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-20' AND StartTime='9:30 am'), '495265793', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-21' AND StartTime='9:30 am'), '688388489', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-21' AND StartTime='9:30 am'), '857866246', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-21' AND StartTime='9:30 am'), '946166493', 'Pastry Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-21' AND StartTime='9:30 am'), '365661926', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-21' AND StartTime='9:30 am'), '398049492', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-22' AND StartTime='9:30 am'), '845993205', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-22' AND StartTime='9:30 am'), '975806394', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-22' AND StartTime='9:30 am'), '871778585', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-22' AND StartTime='9:30 am'), '365661926', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-22' AND StartTime='9:30 am'), '493792285', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-23' AND StartTime='9:30 am'), '845993205', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-23' AND StartTime='9:30 am'), '753451067', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-23' AND StartTime='9:30 am'), '897030645', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-23' AND StartTime='9:30 am'), '737172266', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-23' AND StartTime='9:30 am'), '051407732', 'Sommelier'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-24' AND StartTime='9:30 am'), '845993205', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-24' AND StartTime='9:30 am'), '107057619', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-24' AND StartTime='9:30 am'), '871778585', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-24' AND StartTime='9:30 am'), '550769928', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-24' AND StartTime='9:30 am'), '511410913', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-26' AND StartTime='9:30 am'), '045312244', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-26' AND StartTime='9:30 am'), '719552471', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-26' AND StartTime='9:30 am'), '310925952', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-26' AND StartTime='9:30 am'), '365661926', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-26' AND StartTime='9:30 am'), '038756607', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-27' AND StartTime='9:30 am'), '845993205', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-27' AND StartTime='9:30 am'), '693361075', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-27' AND StartTime='9:30 am'), '734467274', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-27' AND StartTime='9:30 am'), '690539364', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-27' AND StartTime='9:30 am'), '879371154', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-28' AND StartTime='9:30 am'), '045312244', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-28' AND StartTime='9:30 am'), '292369692', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-28' AND StartTime='9:30 am'), '153848194', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-28' AND StartTime='9:30 am'), '314089880', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-28' AND StartTime='9:30 am'), '051407732', 'Sommelier'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-29' AND StartTime='9:30 am'), '212884559', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-29' AND StartTime='9:30 am'), '477983760', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-29' AND StartTime='9:30 am'), '889663120', 'Sous Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-29' AND StartTime='9:30 am'), '189270701', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-29' AND StartTime='9:30 am'), '495265793', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-30' AND StartTime='9:30 am'), '845993205', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-30' AND StartTime='9:30 am'), '477983760', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-30' AND StartTime='9:30 am'), '871778585', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-30' AND StartTime='9:30 am'), '189270701', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-30' AND StartTime='9:30 am'), '896718558', 'Captain'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-31' AND StartTime='9:30 am'), '845993205', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-31' AND StartTime='9:30 am'), '477983760', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-31' AND StartTime='9:30 am'), '847791599', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-31' AND StartTime='9:30 am'), '578436809', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-03-31' AND StartTime='9:30 am'), '748438907', 'Sommelier'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-02' AND StartTime='9:30 am'), '845993205', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-02' AND StartTime='9:30 am'), '477983760', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-02' AND StartTime='9:30 am'), '310925952', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-02' AND StartTime='9:30 am'), '365661926', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-02' AND StartTime='9:30 am'), '546170244', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-03' AND StartTime='9:30 am'), '688388489', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-03' AND StartTime='9:30 am'), '975806394', 'Hosts'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-03' AND StartTime='9:30 am'), '897030645', 'Roast Chef'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-03' AND StartTime='9:30 am'), '578436809', 'Bartender'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-03' AND StartTime='9:30 am'), '047106497', 'Waiter'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-04' AND StartTime='9:30 am'), '045312244', 'Manager'),
		((SELECT shiftid FROM shift WHERE Date='2024-04-04' AND StartTime='9:30 am'), '107057619', 'Hosts'),